body {
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-size: cover;
}
header nav{
	text-align: center;
	display: inline-block;
}
header nav ul li{
	display: inline-block;
    width: 
}
header nav ul li button{
    width: 89px;
}
#altaAlmacenes{
    display: none;
    margin: 5% auto;
    width: 40%;
}
#mainMessage {
    font-size: 3em;
    top: 300px;
    background-color: rgba(0, 0, 0, 0.28);
    position: absolute;
    width: 100%;
    left: 0;
}