body{
	font-size: 16px;
	margin:0 auto;
	max-width: 1024px;
}
button {
    padding: 3%;
    background: white;
    border: 1px solid #00D4D4;
    border-radius: 9px;
    color: #00D4D4;
    margin-left: 41%;
    margin-top: 8%;
    box-shadow: 0px 1px 20px -3px black;
    font-size: 2em;
}
header{
	text-align: center;

}
section article table{
	border-collapse: collapse;
	font-size: 5em;
	margin:0 auto;
}
section article table td{
	text-align: center;
	width: 100px;
}
#unouno,#unodos,#dosuno,#dosdos{
	border-bottom: 8px solid red;
	border-right: 8px solid red;
}
#unotres,#dostres{
	border-bottom: 8px solid red;
}
#tresuno,#tresdos{
	border-right: 8px solid red;
}